@charset "UTF-8";

.git {
	color: gray;
}
.webtris{
	text-align: center;

	}
font {
	padding: 10px;
	font-size: 45px;
}

form {
	padding: 100px;
}

form#centered-form{
	margin: 0 auto;
}
.right{
	text-align: right;
}