@charset "UTF-8";

.git {
	color: gray;
}
.webtris{
	text-align: center;

	}
font {
	padding: 10px;
	font-size: 45px;
}

form {
	padding: 70px;
}

form#centered-form{
	margin: 0 auto;
}
.right{
	text-align: right;
}

.resultlist{
	width: 80%;
	margin: 0 auto;
}

.gameboard{
	width: 20%;
	margin: 0 auto;
}

td{
	height: 25px;
}

th{
	text-align: center;
}

#invalid-msg{
	display: none;
}

.btn-success {
	margin-top: 5px;
	margin-bottom: 5px;

}