@charset "UTF-8";

.git {
	color: gray;
}
.webtris{
	text-align: center;

	}
font {
	padding: 10px;
	font-size: 45px;
}

.form-control-sm {
	padding: 70px;
}

form#centered-form{
	margin: 0 auto;
}
.right{
	text-align: right;
}

.resultlist{
	width: 80%;
	margin: 0 auto;
}

.gameboard{
	width: 18%;
	margin: 0 auto;
}

td{
	height: 25px;
	text-align: center;
}

th{
	text-align: center;
}

#invalid-msg{
	display: none;
}

.btn-start-stop {
	margin-top: 5px;
	margin-bottom: 5px;

}

.first-row{
	position: relative;
	top: -300px;
	left: -6px;
	border: solid 1px white;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.second-row{
	position: relative;
	top: -280px;
	left: -90px;
	border: solid 1px white;
	width: 20px;
	height: 20px;
	display: inline-block;
}