<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/webtris.css}">
    <title>W E B T R I S</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light nav">
		<div class="container-fluid row">

			<div class="col-7 col-xxl-1">
				<a class="nav-link git" href="https://github.com/davidgiczi/Webtris"
					tabindex="-1" aria-disabled="true">&nbsp;&nbsp;&nbsp;GitHub</a>

			</div>
				
	
		<div class="col-7 col-xxl-2 right">
				<a class="nav-link git" href="https://github.com/davidgiczi"
					tabindex="-1" aria-disabled="true"><span>&copy;&nbsp;2021&nbsp;Dávid Giczi</span></a>

			</div>
		</div>
	</nav>
	
	
 <input type="hidden" th:if="${welcome != null}" th:value="${welcome}" name="welcome-msg" id="welcome">
<script type="text/javascript" th:src="@{/js/webtris.js}"></script>
</body>
</html>