<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/webtris.css}">
<script src="https://kit.fontawesome.com/80a1f6de3a.js"></script>
<title>W E B T R I S</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light nav">
		<div class="container-fluid row">

			<div class="col-7 col-xxl-1">
				<a class="nav-link git" href="https://github.com/davidgiczi/Webtris"
					tabindex="-1" aria-disabled="true"
					title="Webtris GitHub repository">&nbsp;&nbsp;&nbsp;GitHub</a>

			</div>
				
				<div class="col-7 col-xxl-2">
				<a class="nav-link git" href="/webtris/ranklist"
					tabindex="-1" aria-disabled="true"
					title="Rank list of WEBTRIS players">&nbsp;&nbsp;&nbsp;Rank List</a>

			</div>

			<div class="col-7 col-xxl-9 right">
				<a class="nav-link git" href="https://github.com/davidgiczi"
					tabindex="-1" aria-disabled="true" title="My GitHub repository"><span>&copy;&nbsp;2021&nbsp;Dávid
						Giczi</span></a>

			</div>
		</div>
	</nav>

<div class="containaer">
	<div class="row">
	<div class="col-xxl-5 col-4"></div>
	<h4 class="col-xxl-1 col-2 git right">Score:</h4>
	<h4 class="col-xxl-1 col-2 git">###</h4>
	<div class="col-xxl-5 col-4"></div>
	</div>
</div>

	<div class="table-responsive">
		<table class="table table-bordered gameboard">
			<thead>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
	<br>
	<div class="containaer">
	<div class="row">
	<div class="col-xxl-5 col-5"> </div>
	<button type="button" class="btn btn-outline-danger col-xxl-2 col-2 fas fa-sync-alt"></button>
	<div class="col-xxl-5 col-5"> </div>
	</div>
	
	<div class="row">
	<div class="col-xxl-3 col-2"> </div>
	<button type="button" class="btn btn-outline-danger col-xxl-1 col-2 fas fa-angle-double-left"></button>
	<div class="col-xxl-1 col-1"> </div>
	<button type="button" class="btn btn-success col-xxl-2 col-2">Start</button>
	<div class="col-xxl-1 col-1"> </div>
	<button type="button" class="btn btn-outline-danger col-xxl-1 col-2 fas fa-angle-double-right"></button>
	<div class="col-xxl-3 col-3"></div>
	<div></div>
	</div>
	
	<div class="row">
	<div class="col-xxl-5 col-5"> </div>
	<button type="button" class="btn btn-outline-danger col-xxl-2 col-2 fas fa-angle-double-down"></button>
	<div class="col-xxl-5 col-5"> </div>
	</div>
	</div>
	
	<input type="hidden" th:if="${welcome != null}" th:value="${welcome}" id="welcome-msg"> 
	
	<script type="text/javascript" th:src="@{/js/gameboard.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>